$cellUnknownColor: #9ba;
$cellImpossibleColor: #999;
$cellWidth: 28px;

$redTeamColor: #c33;
$blueTeamColor: #33c;

.minesweeperflags-board {
    .row {
        white-space: nowrap;
        height: $cellWidth;

        .cell {
            display: inline-block;
            position: relative;
            width: $cellWidth;
            height: $cellWidth;
            margin: 0 0 -1px -1px;

            text-align: center;
            line-height: $cellWidth - 2;
            font-weight: bold;
            font-size: 16px;
            transition: 400ms ease-in;

            .inner {
                position: absolute;
                top: 0px;
                right: 0px;
                left: 0px;
                bottom: 0px;
            }
        }

        .cell.reveal-0 {
            $backgroundColor: scale-color($blueTeamColor, $lightness: +85%);
            background-color: $backgroundColor;
            background-image: linear-gradient(135deg, $backgroundColor 0%, $backgroundColor 50%, scale-color($backgroundColor, $lightness: -15%) 100%);
        }
        .cell.reveal-1 {
            $backgroundColor: scale-color($redTeamColor, $lightness: +85%);
            background-color: $backgroundColor;
            background-image: linear-gradient(135deg, $backgroundColor 0%, $backgroundColor 50%, scale-color($backgroundColor, $lightness: -15%) 100%);
        }
        .mine.reveal-0 {
            color: $blueTeamColor;
        }
        .mine.reveal-1 {
            color: $redTeamColor;
        }
        .cell.last-move-0 {
            .inner {
                border: 2px solid darkblue;
                border-radius: 8px;
                line-height: $cellWidth - 6;
            }
        }
        .cell.last-move-1 {
            .inner {
                border: 2px solid darkred;
                border-radius: 8px;
                line-height: $cellWidth - 6;
            }
        }

        .cell.unknown {
            background-color: $cellUnknownColor;
            background-image: linear-gradient(135deg, $cellUnknownColor 0%, $cellUnknownColor 30%, scale-color($cellUnknownColor, $lightness: -40%) 100%);
            background-size: $cellWidth ($cellWidth * 2);
            border: 1px solid scale-color($cellUnknownColor, $lightness: +25%);
        }
        .cell.unknown.impossible {
            background-color: $cellImpossibleColor;
            background-image: linear-gradient(135deg, $cellImpossibleColor 0%, $cellImpossibleColor 30%, scale-color($cellImpossibleColor, $lightness: -60%) 100%);
        }
        .mine,.empty {
            border: 1px solid #ccc;
        }
        .number-1 {
            color: blue;
        }
        .number-2 {
            color: green;
        }
        .number-3 {
            color: red;
        }
        .number-4 {
            color: navy;
        }
        .number-5 {
            color: maroon;
        }
        .number-6 {
            color: #00B9B9;
        }
        .number-7 {
            color: #000000;
        }
        .number-8 {
            color: #808080;
        }
    }
}

.minesweeperflags-board.turn {
    .cell.unknown {
        cursor: pointer;
    }

    .cell.unknown:hover {
        background-position: 0 (-$cellWidth);
/*        $newBackgroundColor: scale-color($cellUnknownColor, $lightness: -23%);
        background: $newBackgroundColor;
        background: linear-gradient(135deg, $newBackgroundColor 0%, $newBackgroundColor 60%, scale-color($newBackgroundColor, $lightness: -40%) 100%);*/
    }
}

.minesweeperflags-score {
    margin: 6px 0 12px 0;

    .text {
        display: inline-block;
        margin-right: 4px;
    }

    .score-0, .bombs-left, .score-1 {
        float: left;
        font-size: 20px;
        margin: 0 8px 0 8px;
        padding: 2px;
        transition: 600ms ease-in;
        box-sizing: border-box;
        border-bottom: 2px solid transparent;
    }
    .score-0 {
        color: $blueTeamColor;
    }
    .score-1 {
        color: $redTeamColor;
    }

    .score-0.turn {
        border-bottom: 2px solid blue;
    }
    .score-1.turn {
        border-bottom: 2px solid red;
    }

    .winner {
        font-size: 28px !important;
    }
}

.minesweeperflags-gameover {
    margin: 8px 0 8px 0;
    font-size: 1.2em;
    line-height: 28px;
}

.clearer {
    clear: both;
}

