/**
 * ChoiceList Component
 */

.mp-choicelist {
    .mp-choicelist-item {
        margin: 8px;
        opacity: 0.5;
        transition: all 0.4s ease;
        cursor: pointer;
    }

    .mp-choicelist-item:hover {
        opacity: 0.8;
    }

    .mp-choicelist-item.selected {
        opacity: 1.0;
    }
}
