$bg: #151515;

#choices {
}

.major {
    font-weight: bold;
    font-size: 1.2em;
}

html,body { height: 100%; }

#theoddone-voting {
    text-align: center;
    height: 100%;
    background: $bg;
    color: white;
}
#theoddone-word {
    color: #555;
    padding-top: 32px;
    font-size: 32px;
}

.startFirst {
    font-size: 2em;
    text-align: center;
    margin: 8px 0 16px 0;
    padding-bottom: 16px;
    border-bottom: 1px solid #aaa;
}

#choices {

    .choice {
        display: inline-block;
        margin: 8px;
        padding: 12px 24px 12px 24px;
        font-size: 18px;
        text-align: center;
        border: 1px solid #555;
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .dead {
        background: red !important;
        text-decoration: line-through !important;
    }
}

#choices.unselected .choice {
    cursor: pointer;
}
#choices.unselected .choice:hover {
    background: #558;
}
#choices .choice.selected {
    background: #558;
}

.clearer {
    clear: both;
}

#theoddone-votetable {
    list-style-type: none;
    padding: 0;
    margin: 8px 0 8px 0;
}

#theoddone-votetable li {
    padding: 0;
    margin: 6px 0 5px 4px;
}

#theoddone-vote-submit {
    margin-top: 24px;
}

#theoddone-summary-table {
    background: #888;
    margin: 0 0 12px 0;
}

#theoddone-summary-table td, #theoddone-summary-table th {
    margin: 0px;
    padding: 8px;
    background: white;
}
#theoddone-summary-table tr {
    padding: 0;
    margin: 0;
}

#theoddone-summary-table tr.odd td {
    background: #ddf !important;
}
#theoddone-summary-table .dead {
    color: red;
}
#theoddone-summary-table .dead .name {
    text-decoration: line-through;
}

.votebuttons button
{
    margin: 8px;
}
