$green: #4EEC60;
$red: #FF6156;

.avalon-quests {
    ul {
        list-style-type: none;
    }

    .quest {
        margin: 5px 0 5px 0;
        padding: 5px;
        border: 1px solid #bbb;
        background: #f8f8f8;

        .outcome {
            font-weight: bold;
        }
    }

    .quest.passed {
        border-right: 8px solid #8f8;
    }
    .quest.failed {
        border-right: 8px solid #f88;
    }
    .quest.rejected {
        border-right: 8px solid #bbb;
    }

}

.avalon-hostmainpage {
    .status {
        font-size: 1.5em;
        margin: 8px 0 8px 0;
    }

    .quest-grid {

        margin: 4px 16px 8px 16px;
        background: #e5e5e5;
        padding: 6px;
        text-align: center;

        .grid {
            display: inline-block;
            margin: 3px;
            width: 64px;
            height: 64px;
            text-align: center;
            line-height: 64px;
            font-size: 1.2em;
            border: 1px solid #ccc;
            background-color: #ccc;
            color: #888;
            border-radius: 64px;
        }

        .grid.succeeded {
            border-color: #2ECC40;
            background-color: #2ECC40;
            color: black;
        }
        .grid.failed {
            border-color: #FF4136;
            background-color: #FF4136;
            color: black;
        }
        .grid.current {
            border-color: black;
            background-color: #ddd;
            color: black;
        }
    }

    .players-list {
        .hidden {
            visibility: hidden;
        }

        .player-tag {
            margin: 8px 0 8px 0;
            font-size: 1.3em;
            display: inline-block;
        }

        .waiting-leave {
            opacity: 1;
        }
        .waiting-leave.waiting-leave-active {
            opacity: 0.01;
            margin-top: 50px;
            transition: opacity .5s ease-in, margin .5s;
        }

        .teamvote {
            float: right;
            font-size: 0.65em;
            padding: 3px 12px 3px 12px;
            border-radius: 0 8px 0 0;
        }
        .teamvote-appear {
            opacity: 0.01;
            margin-top: -40%;
        }
        .teamvote-appear.teamvote-appear-active {
            opacity: 1;
            margin-top: 0;
            transition: opacity 1.0s, margin 0.6s ease-in;
        }
        .teamvote.accept {
            background: $green;
        }
        .teamvote.reject {
            background: $red;
        }
    }

    .votequest-result {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        .votequest-result-card {
            left: 50%;
            margin-left: -45px;
            margin-top: 40px;
        }

        .votequest-result-card, .front, .back {
            position: relative;
            width: 90px;
            height: 160px;
            border-radius: 18px 0 18px 0;
            line-height: 160px;
            text-align: center;
            font-size: 1.3em;
        }

        .front {
            background: #858585;
        }

        .votequest-result-card {
            perspective: 1000px;
        }

	    .votequest-result-card.flip .flipper, .votequest-result-card.flip .flipper {
		    transform: rotateY(180deg);
        }

        .flipper {
	        transition: 0.4s;
	        transform-style: preserve-3d;

	        position: relative;
            top: 0;
            left: 0;
        }

        .front, .back {
	        backface-visibility: hidden;
            box-shadow: 0 0 0 1px #D4D4D5, 0 2px 4px 0 rgba(34,36,38,.12), 0 2px 10px 0 rgba(34,36,38,.15);
	        position: absolute;
	        top: 0;
	        left: 0;
            margin: 0;
        }

        .front {
	        z-index: 2;
	        transform: rotateY(0deg);
        }

        .back {
	        transform: rotateY(180deg);
        }

        .back.pass {
            background: #b5e391;
            background: -moz-linear-gradient(-45deg, #b5e391 0%, #61c519 50%, #b5e391 100%);
            background: -webkit-linear-gradient(-45deg, #b5e391 0%,#61c519 50%,#b5e391 100%);
            background: linear-gradient(135deg, #b5e391 0%,#61c519 50%,#b5e391 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5e391', endColorstr='#b5e391',GradientType=1 );
        }
        .back.fail {
            background: #e39691;
            background: -moz-linear-gradient(-45deg, #e39691 0%, #c52819 50%, #e39691 100%);
            background: -webkit-linear-gradient(-45deg, #e39691 0%,#c52819 50%,#e39691 100%);
            background: linear-gradient(135deg, #e39691 0%,#c52819 50%,#e39691 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e39691', endColorstr='#e39691',GradientType=1 );
        }

        .votequest-result-card.hidden {
            .back {
                margin-top: -200px;
                opacity: 0.1;
                transition: all .5s ease-in;
            }
        }
    }
}

.avalon-profile {
    .player-card {
        margin: 0 6px 0 2px;
    }
}

.avalon-settings {
    .avalon-cancel-new-game {
        margin-left: 10px;
    }
    .avalon-select-characters {
        ul {
            margin: 12px 0 12px 0;
            padding: 0 0 0 8px;
            list-style-type: none;
        }
        li {
            margin: 8px 0 8px 0;
            padding: 0;
        }
    }
}

.avalon-client-wait {
    margin: 20px 8px 0 8px;
    text-align: center;
    font-size: 24px;
    line-height: 30px;
}
