$headerHeight: 39px;
$panelWidth: $headerHeight;
$panelExtendWidth: 180px;

.shell-main {
    font-size: 13px;
    position: relative;
    height: 100%;
    box-sizing: border-box;

    .shell-header {
        background: #353535;
        color: white;
        height: $headerHeight;
    }

    .shell-title {
        margin-left: 2em;
        padding-top: 10px;
        font-size: 2em;
    }

    .shell-room {
        float: right;
        background: #555;
        padding: 0px 16px 0px 16px;
        color: white;
        font-size: 24px;
        height: $headerHeight;
        line-height: $headerHeight;
        box-sizing: border-box;
    }

    .shell-newgame {
        float: right;
        margin-right: 1em;
        padding-top: 3px;
        color: black;
    }

    .shell-main-panel.show {
        width: $panelWidth + $panelExtendWidth;
    }

    .shell-main-panel {
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        width: $panelWidth;
        background-color: #d5d5d5;
        overflow-x: hidden;
        overflow-y: visible;
        z-index: 10;
        transition: width 0.3s;

        .shell-main-panel-link {

            width: $panelWidth + $panelExtendWidth;
            height: $headerHeight;
            cursor: pointer;

            label {
                line-height: $headerHeight;
                width: $panelExtendWidth - 10;
                display: block;
                float: left;
                cursor: pointer;
            }

            .icon {
                display: block;
                float: left;
                text-align: center;
                width: $panelWidth;
                padding: 11px 0 11px 0;
                color: #656565;
            }

            .icon.active {
                color: #353535;
            }

            .menu {
                background-color: #959595;
            }
        }
    }

    .shell-main-panel-link:hover {
        background-color: #959595;
        .icon {
            color: #353535;
        }
        label {
        }
    }

    .shell-body {
        position: absolute;
        top: $headerHeight;
        left: $panelWidth;
        bottom: 0px;
        right: 0px;
        box-sizing: border-box;
        padding: 8px;
        overflow: auto;
    }

}
